#!/bin/bash

# Set dev env paths
VERA_DEV_ENV_BASE={{ INSTALL }}
VERA_DEV_ENV_COMPILER_BASE={{ INSTALL }}/gcc-4.6.1
VERA_GCC_BASE_DIR={{ INSTALL }}/gcc-4.6.1/toolset/gcc-4.6.1
VERA_MPI_BASE_DIR={{ INSTALL }}/gcc-4.6.1/toolset/openmpi-1.4.3
VERA_BoostLib_LIBRARY_DIRS={{ INSTALL }}/gcc-4.6.1/tpls/opt/common/boost-1.49.0/lib
VERA_MOAB_LIBRARY_DIRS={{ INSTALL }}/gcc-4.6.1/tpls/opt/common/moab-4.5.0/lib
VERA_HDF5_LIBRARY_DIRS={{ INSTALL }}/gcc-4.6.1/tpls/opt/vera_cs/hdf5-1.8.7/lib
TPL_INSTALL_DIR={{ INSTALL }}/gcc-4.6.1/tpls/opt

# Set the install base dir path
# Set paths to shared libs for compiler and MPI
export LD_LIBRARY_PATH=$VERA_MPI_BASE_DIR/lib:$VERA_GCC_BASE_DIR/lib64:$LD_LIBRARY_PATH

# TPL lib dirs (which use shared libs)
export LD_LIBRARY_PATH=$VERA_HDF5_LIBRARY_DIRS:$VERA_MOAB_LIBRARY_DIRS:$VERA_BoostLib_LIBRARY_DIRS:$LD_LIBRARY_PATH

echo "Configuring VERA"
./do-configure \
-D CMAKE_INSTALL_PREFIX="${VERA_DEV_ENV_BASE}/vera/`date +%Y-%m-%d`" \
-D TPL_ENABLE_MPI:BOOL=ON \
-D VERA_ENABLE_CTeuchos=ON \
-D VERA_ENABLE_ForTeuchos=ON \
-D VERA_ENABLE_VERAIn=ON \
-D VERA_ENABLE_Scale=ON\
-D VERA_ENABLE_MPACT_libs=ON \
-D VERA_ENABLE_MPACT_Drivers=ON \
-D BUILD_SHARED_LIBS:BOOL=ON \
-D VERA_ENABLE_DataTransferKit=ON \
-D VERA_ENABLE_InsilicoNeutronics=ON \
-D VERA_ENABLE_COBRA_TF=ON \
-D VERA_ASSERT_MISSING_PACKAGES=OFF \
-D CMAKE_BUILD_TYPE:STRING=RELEASE \
-DCMAKE_SKIP_INSTALL_RPATH=ON \
&> configure.out

### FORCE STATIC ###
#-D BUILD_SHARED_LIBS:BOOL=OFF \
#-D TPL_FIND_SHARED_LIBS:BOOL=OFF \
#-D VERA_LINK_SEARCH_START_STATIC:BOOL=ON \

### NEUTRONICS-TH COUPLING ###
#-D VERA_ENABLE_VRIPSS=ON \
#-D VERA_ENABLE_VRIPSScobra=ON \
#-D VERA_ENABLE_VRIPSSneutronics=ON \
#-D VERA_ENABLE_VRIPSScobra_denovo=ON \
#-D VERA_ENABLE_VRIPSScobra_mpact=ON \
#-D VRIPSS_ENABLE_TESTS:BOOL=ON \
#-D VRIPSS_ENABLE_EXAMPLES:BOOL=ON \

### MISC AND TPLS ###
#-D TPL_ENABLE_PETSC:BOOL=ON \
