# Set the base dir to anything you want but default is given
if [ "$VERA_DEV_ENV_BASE" == "" ] ; then
  export VERA_DEV_ENV_BASE={{ INSTALL }}
fi

# TPLS
export TPL_INSTALL_DIR=${VERA_DEV_ENV_BASE}/gcc-4.6.1/tpls/opt
export METHOD=opt
export MAKE_FLAGS=-j8

# A) Common tools independent of the compiler
export PATH=${VERA_DEV_ENV_BASE}/common_tools:$PATH
export PATH=${VERA_DEV_ENV_BASE}/common_tools/cmake-2.8.5/bin:$PATH
export PATH=${VERA_DEV_ENV_BASE}/common_tools/git-1.7.0.4/bin:$PATH
export PATH=${VERA_DEV_ENV_BASE}/common_tools/autoconf-2.69/bin:$PATH

# B) GCC-4.6.1 compiler stack base dir
export VERA_DEV_ENV_COMPILER_BASE=$VERA_DEV_ENV_BASE/gcc-4.6.1

# B.1) GCC 4.6.1
export VERA_GCC_DIR=${VERA_DEV_ENV_COMPILER_BASE}/toolset/gcc-4.6.1
export PATH=${VERA_GCC_DIR}/bin:$PATH
export LD_LIBRARY_PATH=${VERA_GCC_DIR}/lib64:$LD_LIBRARY_PATH

# B.2) OpenMPI 1.4.3
export VERA_OPENMPI_DIR=${VERA_DEV_ENV_COMPILER_BASE}/toolset/openmpi-1.4.3
export PATH=${VERA_OPENMPI_DIR}/bin:$PATH 
export LD_LIBRARY_PATH=${VERA_OPENMPI_DIR}/lib:$LD_LIBRARY_PATH

export LOADED_VERA_DEV_ENV=gcc461
